{% extends  'base.html' %}\

{% block title %} writting {% endblock %}


{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        

      
        <!-- writting title -->
        <!-- <div class="form-group">
            <label for="id_subject"> 제목 </label>
            <input type="text" class="form-control" id="id_subject" name="subject">
           
        </div> -->

        <div class="container">
        <form method="POST" enctype="multipart/form-data">
            
            {{ form.media }}
            {{ form.as_p }}
            <input type="submit" class="btn btn-dark" value="저장"/>
        </form>
        </div>
           
     

    </form>
{% endblock %}